@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: none; */
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}
  
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
  
body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* register form ===================================== */
.hero{
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
  
  .hero h2{
    display: inline-block;
    font-size: 2.4rem;
    /* left: 50%; */
    /* transform: translate(-50%); */
  }
  
  .hero form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 70rem;
    margin: 0;
    text-align: center;
    margin-top: 5rem;
    border: solid 2px var(--main-color);
    border-radius: 5px;
    padding: 3rem;
  }

  .hero form .input-field{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  form label{
    font-size: 2rem;
  }

  form p{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .helptext{
    display: none;
  }
  
  /* .hero form .input-box .input-field{
    position: relative;
    width: 60%;
    margin: .8rem 0;
  } */
  
  .hero form .input-field input{
     width: 100%;
     height: 40px;
     padding: 1.5rem;
     font-size: 1.6rem;
     color: var(--text-color);
     background: transparent;
     border-radius: .6rem;
     border: .2rem solid var(--main-color);
  }

  .btn-box{
    display: flex;
    justify-content: flex-end;
  }

  /* .btn-box .btn:hover{
    color: var(--main-color);
  } */
  
  .btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
  }

  .btn-box .btn:hover::before{
    width: 100%;
  }
  
  
  .btn-box .btn{
    /* position: relative; */
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 15rem; */
    /* height: 100%; */
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
  }

  .hero h6{
    font-size: 1.4rem;
  }

  .hero h6 a{
    color: var(--main-color);
  }