:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.review_home{
    margin-top: 10rem;
    padding: 2rem 25%;
    display: flex;
    flex-direction: column;
}

.review_home .reviewHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review_home .reviewHeading h1{
    font-size: 2.3rem;
}

.create_review_container{
    display: flex;
    flex-direction: column;
    border: solid 2px var(--main-color);
    padding: 2%;
}

.create_review_container .book_article{
    display: flex;
    justify-content: flex-start;
}

.create_review_container .title_box,
.create_review_container .description_box,
.create_review_container .image_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.8rem;
}

.create_review_container .title_box input,
.create_review_container .description_box textarea{
    padding: .5rem 1rem;
    /* border: solid 2px var(--main-color); */
}

.create_review_container .title_box h5,
.create_review_container .description_box h5,
.create_review_container .image_box h5{
    font-size: 1.5rem;
}

.create_review_container .reviewText{
    border-top: solid 2px var(--main-color);
    margin-top: 2rem;
}

.create_review_container .reviewText h4{
    margin-top: 2rem;
}

.starRating{
    display: flex;
    gap: 2rem;
}

.create_review_container .submit_btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}

.create_review_container .submit_btn input{
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}
