:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.hero .reviewHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .reviewHeading h1{
    font-size: 2.3rem;
}

.post_container{
    display: flex;
    flex-direction: column;
    border: solid 2px var(--main-color);
    padding: 2%;
}

.post_container .starRating span{
  font-size: 16px;
}

/* .post_container .post1,
.post_container .post2{
    border-bottom: solid 2px var(--main-color);
    margin-bottom: 1rem;
} */

.post_container .alert{
    display: flex;
    justify-content: space-between;
}

.post_container .title-box{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .post_container .description{
    margin-top: 1.5rem;
    display: flex;
  }

  .post_container .review-details{
    margin: .6rem;
    border: solid 2px var(--main-color);
    display: flex;
    flex-direction: column;
    padding: .5rem;
  }

  .post_container .review-details .review-name,
  .post_container .review-details .review-description{
    margin-bottom: 1rem;
  }

  .post_container .review-details .review-name h5,
  .post_container .review-details .review-description h4{
    color: var(--text-color);
  }

  .post_container .review-details .review-image{
     height: 200px;
     width: 150px;
     border: solid 1px var(--main-color);
  }

  .post_container .review-details .review-image img{
    height: 100%;
    width: 100%;
  }

  .post_container .edit_delete{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding: 1rem;
    border-bottom: solid 2px var(--main-color);
    margin-bottom: 1rem;
  }

  .post_container .edit_delete button{
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    padding: 1rem 4.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
  }

